.preference
	height: 20px
	margin: 15px 0 0 auto
	padding: 1px 1px 1px 5px
	border: 1px solid #5cb85c
	border-radius: 4px

.my-preference
	background-color: #5cb85c

.preference__number
	margin: 0 4px
	color: #5cb85c

.my-preference__number
	color: #ffffff